<the-box-container header="{{'USERS.RESTORE_PASSWORD' | translate}}" icon="fa fa-key" [styleClass]="'hightlight1'">
  <form #restoreForm="ngForm">
    <the-card [styleClass]='"primary"'>

      <ng-container *ngIf="!authentication; else changePassword">

        <div *ngIf="!mailSended">
          <span class="information">{{'USERS.RESTORE_PASSWORD_INSTRUCTIONS' |translate}}</span>
          <the-input-group required="true" name="email" class="p-col-12" [(ngModel)]="email" type="text"
            placeholder="{{'GLOBAL.EMAIL' | translate}}" iconInput="mi mail-outline" [pattern]="emailPattern">
          </the-input-group>
        </div>

        <span class="information" *ngIf="mailSended">{{'USERS.MAIL_SENDED' | translate}}</span>

      </ng-container>

      <ng-template #changePassword>
        <span class="information">{{'USERS.CHANGE_PASSWORD_INSTRUCTIONS' | translate}}</span>
        <the-input-group required="true" class="p-col-12" [(ngModel)]="password" type="password" name="password"
          placeholder="{{'GLOBAL.PASSWORD' | translate}}" iconInput="fa fa-key" passwordIndicator="true">
          <p-message message
            *ngIf="password && password!=passwordVerification && passwordVerification && passwordVer.touched"
            severity="error" [text]="'ERROR.PASSWORD_REPEAT'|translate">
          </p-message>
        </the-input-group>
        <the-input-group required="true" class="p-col-12" type="password" name="passwordVerification"
          [(ngModel)]="passwordVerification" #passwordVer="ngModel"
          placeholder="{{'USERS.PASSWORD_CHANGE_REPEAT' | translate}}" iconInput="fa fa-key">
        </the-input-group>
      </ng-template>


      <div card-footer>
        <!-- deshabilitado si el formulario no es válido o si estamos en cambio de contraseña y no son iguales la pass y la verificacion -->
        <the-button type="submit" [label]="'USERS.BUTTON_REQUEST_RESTORE' | translate"
          *ngIf="!authentication && !mailSended" [showSpinner]='restorePasswordProcessActive' [disabled]="restoreForm.form.invalid ||
          restoreForm.pristine || restorePasswordProcessActive" (onClick)="requestNewPassword()">
        </the-button>
        <the-button type="submit" [label]="'USERS.BUTTON_SAVE_NEW_PASSWORD' | translate" *ngIf="authentication"
          [showSpinner]='restorePasswordProcessActive' [disabled]="restoreForm.form.invalid ||
          password!=passwordVerification || restoreForm.pristine || restorePasswordProcessActive"
          (onClick)="saveNewPassword()">
        </the-button>
        <the-button *ngIf="!mailSended" [label]="'BUTTON.CANCEL' | translate" (onClick)="cancel()">
        </the-button>
      </div>
    </the-card>
  </form>

</the-box-container>
