@import 'variables';

.aoi-item {
  .aoi-icon i {
    font-size: 1.5em;
  }

  .aoi-data {


    &__name {
      color: $secondaryFg;
    }

    &__date {
      color: darken($primaryFg, $colorModificationPercent);
      font-size: $fontReducedSize;

    }
  }



}
