  <the-overview-box [routerLink]="routerLink" title="{{ 'LAYERMANAGER.AVAILABLE' | translate }}"
    value="{{ layersService.layersCount$ | async }} {{ 'TOC.TITLE' | translate }}"
    [icon]="(layersService.loading$ | async) ? 'pi pi-spin pi-spinner' : 'mi layers'" [styleClass]="'hightlight1'">
  </the-overview-box>
  <!--<the-overview-box class="p-col-6" [title]="'_Publicadas'" [value]="'5 Capas'" [icon]="'mi layers'"
    [styleClass]="'hightlight1'"></the-overview-box>
  <the-overview-box class="p-col-6" [title]="'_Sin publicar'" [value]="'42 Capas'" [icon]="'mi layers'"
    [styleClass]="'hightlight3'"></the-overview-box>-->
