@import 'variables';

#geographic-info-overlay {
  box-shadow: none;
  background-color: $primaryBg;
  opacity: 0.85;
  color: $primaryFg;
}

.popup-content {
  margin-left: 10px;
  margin-bottom: 5px;
}

.popup-row {
  display: flex;
  align-items: center;
  color: $secondaryFg;

  span {
    font-weight: bold;
    color: $primaryFg;
  }
}

.geog-info-title {
  margin-right: 5px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup-label {
  color: $secondaryColorStrong;
  margin-right: 5px;
}

.popup-icon-button {
  font-size: 1.4em;
}

.popup-icon-button:hover {
  color: $tertiaryBg;
  cursor: pointer;
}

.copy-button {
  margin-left: auto;
}

.coord-spinner {
  font-size: 1em;
}

//poups
.ol-popup {
  position: absolute;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  border-radius: $borderRadius;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 260px;
}

.ol-popup::after,
.ol-popup::before {
  top: 100%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup::after {
  border-top-color: $primaryBg;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup::before {
  border-top-color: $primaryBg;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 6px;
  z-index: 2;
}

.ol-popup-closer::after {
  content: '✖';
}

#copyText {
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
