    @import 'variables';

    :host {
      display: inline-block;
    }

    .ui-splitbutton {
      &.tool {
        button.ui-button {
          background-color: $secondaryColorLight;
          color: $secondaryColorText;
          border: 1px solid $secondaryColorLight;
        }

        button.ui-splitbutton-menubutton {
          display: none;
        }

      }
    }
