<the-card *ngIf="user" title="título" subtitle="Subtítulo">

  <div card-header>
    <img src="Card" src="assets/images/examples/usercard.png">
    <i *ngIf="!user.socialUser?.photoUrl" class="pi pi-user"></i>
    <img *ngIf="user.socialUser?.photoUrl" [src]="user.socialUser.photoUrl">
  </div>

  <p class="username">{{user.userName}}</p>
  <p class="role"> {{user.roles[0].name}}</p>
  <p-message *ngIf="user.disabled" severity="warn" text="{{'USER.DISABLED'|translate}}"> </p-message>


  <ul class="list-stats text-center">
    <li (click)="gotoMaps()" class="ui-clickable">
      <p> {{'USER.STAT_MAPS' | translate}}</p>
      <the-progress-spinner *ngIf="userMapsRetrievalActive"></the-progress-spinner>
      <p class="stat-text">{{ userMapsCount.maps}}</p>
    </li>

    <li (click)="gotoMaps()" class="ui-clickable">
      <p> {{'GLOBAL.FAVORITOS' | translate}}</p>
      <the-progress-spinner *ngIf="favouritesRetrievalActive"></the-progress-spinner>
      <p class="stat-text">{{ userMapsCount.favourites}}</p>
    </li>
  </ul>

  <div card-footer>
    <the-button label="{{'GLOBAL.LOGOUT' | translate}}" icon="pi pi-check" (click)="logout()">
    </the-button>
    <the-button label="{{'BUTTON.EDIT_' | translate}}" icon="pi pi-times" (click)="gotoEdit()"></the-button>
  </div>

</the-card>
