<p-sidebar [autoZIndex]='false' [styleClass]='sidebarItem.styleClass' [showCloseIcon]='sidebarItem.showCloseIcon'
  [style]='sidebarItem.inlineStyle' *ngIf="sidebarItem" [(visible)]="sidebarItem.visible" [position]='position'
  [modal]="false" [fullScreen]="false">

  <div class='sidebar-header'>
    <ng-content select="[panel-header]"></ng-content>
  </div>
  <div class='sidebar-content'>
    <p-scrollPanel>
      <ng-content select="[panel-content]"></ng-content>
    </p-scrollPanel>
  </div>

  <div class='sidebar-footer'>
    <ng-content select="[panel-footer]"></ng-content>
  </div>

</p-sidebar>
