<div class="p-grid">
  <the-overview-box class="p-col-6" [routerLink]="routerLink" [title]="'USER_MAPS.TITLE' | translate"
    value="{{ userMapsService.userMapsCount$ | async }} {{ 'GLOBAL.MAPS' | translate }} "
    [icon]="(userMapsService.loading$ | async) ? 'pi pi-spin pi-spinner' : 'mi map'" [styleClass]="'hightlight2'">
  </the-overview-box>
  <the-overview-box class="p-col-6" [routerLink]="routerLink" [title]="'USER_MAPS.FAVORITES' | translate"
    value="{{ userMapsService.userMapsFavouritesCount$ | async }} {{ 'GLOBAL.MAPS' | translate }} "
    [icon]="(userMapsService.loading$ | async) ? 'pi pi-spin pi-spinner' : 'mi favorite'" [styleClass]="'hightlight2'">
  </the-overview-box>
</div>
