<div class="p-grid baselayers-container">
  <div class="p-col-12">
    <div style="text-align: center; font-size: x-large;">Urbanismo</div>
    <div class="p-grid">
      <div class="p-col-6">Mapa1</div>
      <div class="p-col-6">Mapa1</div>
    </div>

    <div style="text-align: center; font-size: x-large;">Instalaciones deportivas</div>
    <div class="p-grid">
      <div class="p-col-6">Mapa3</div>
      <div class="p-col-6">Mapa4</div>
    </div>
    <div style="text-align: center; font-size: x-large;">Instalaciones culturales</div>
    <div class="p-grid">
      <div class="p-col-6">Mapa5</div>
      <div class="p-col-6">Mapa6</div>
    </div>
    <!--<div class="baselayer-card ui-clickable" (click)=" setActiveBaseLayer(baseLayer)"
      [ngClass]="{'active': baseLayer.visible}">
      <img class='ui-image-responsive' *ngIf="baseLayer.img" [src]="baseLayer.img">
      <span class="caption">{{baseLayer.title}}</span>
    </div>-->
  </div>
</div>
