<div class="p-grid baselayers-container">
  <div class="p-col-12">
    <div style="text-align: center; font-size: x-large;">Cartografía catastral</div>
    <div class="p-grid">
      <div class="p-col-6">
        <img src='assets/images/caceres_catastro.jpg'>
      </div>
      <div class="p-col-6">
        <img src='assets/images/caceres_catastro-1.jpg'>
      </div>
    </div>

    <div style="text-align: center; font-size: x-large;">Cartografía histórica</div>
    <div class="p-grid">
      <div class="p-col-6">
        <img src='assets/images/caceres_histo1.jpg'>
      </div>
      <div class="p-col-6">
        <img src='assets/images/caceres_histo2.jpg'>
      </div>
    </div>
    <div style="text-align: center; font-size: x-large;">Movilidad urbana</div>
    <div class="p-grid">
      <div class="p-col-6">
        <img src='assets/images/caceres_movilidad-1.jpg'>
      </div>
      <div class="p-col-6">
        <img src='assets/images/caceres_movilidad-2.jpg'>
      </div>
    </div>
    <!--<div class="baselayer-card ui-clickable" (click)=" setActiveBaseLayer(baseLayer)"
      [ngClass]="{'active': baseLayer.visible}">
      <img class='ui-image-responsive' *ngIf="baseLayer.img" [src]="baseLayer.img">
      <span class="caption">{{baseLayer.title}}</span>
    </div>-->
  </div>
</div>
