  <the-toolbar-container>

    <the-button [small]='true' [icon]="'mi input'" [disabled]="disabledNew" [tooltip]="'USER_MAPS.LOAD' | translate"
      (onClick)="loadUserMap()">
    </the-button>

    <the-button [small]='true' [icon]="'mi add-box'" [disabled]="disabledNew"
      [tooltip]="'MAPMANAGER.NEW_MAP' | translate" (onClick)="newUserMap()">
    </the-button>

    <the-button [small]='true' [icon]="'mi save'" [tooltip]="'MAPMANAGER.SAVE_MAP' | translate"
      [disabled]="disabledSave" placement="bottom" (onClick)="saveUserMap()">
    </the-button>

    <the-button [small]='true' [icon]="'mi create'" [tooltip]="'MAPMANAGER.SAVE_MAP_AS' | translate"
      [disabled]="disabledSaveAs" placement="bottom" (onClick)="saveUserMapAs()">
    </the-button>

    <the-button [small]='true' [icon]="'mi delete'" [tooltip]="'MAPMANAGER.DELETE_MAP' | translate"
      [disabled]="disabledDelete" (onClick)="deleteUserMap()">
    </the-button>


    <the-button [small]='true' [disabled]="disableFavouritebutton" [icon]="isFavouriteMap?'fas fa-heart':'far fa-heart'"
      (onClick)="toggleFavourite()"
      [tooltip]="isFavouriteMap ? ('MAPMANAGER.REMOVE_FAVORITE' | translate) : ('MAPMANAGER.ADD_FAVORITE' | translate)">
    </the-button>

    <the-button [small]='true' [icon]="'mi share'" *ngIf="!disabledShare" (onClick)="openSharePopover($event)"
      [tooltip]="'MAPMANAGER.SHARE_MAP' | translate" placement="bottom">
    </the-button>

    <the-button [small]='true' [icon]="'mi image'" (onClick)="openSaveMapImageAlert()"
      [tooltip]="'MAPMANAGER.EXPORT_AS_IMAGE' | translate">
    </the-button>
  </the-toolbar-container>
