<div class='dashboard-container'>
  <div class="p-grid">
    <div class=" p-col-12 p-sm-3">
      <div class='p-grid'>
        <the-overview-box class="p-col-12" [title]='"Volver al dashboard"' [icon]='"mi reply"'
          [routerLink]="'/dashboard'"></the-overview-box>
      </div>

    </div>
    <div class="p-col-12 p-sm-9">
      <div class='p-grid'>
        <gss-users-groups-list></gss-users-groups-list>
      </div>
    </div>
  </div>
</div>
<!-- FIXME No debería ser necesario cargar el the-confirm-dialog en cada página , debería bastar con cargarlo en el layout pero en layout no funciona  -->
<the-confirm-dialog></the-confirm-dialog>
