<the-float-toolbar position='left'>
  <cot-tool-zoom tooltipIn="{{'TOOLS.ZOOM_IN' | translate}}" tooltipOut="{{'TOOLS.ZOOM_OUT' | translate}}">
  </cot-tool-zoom>
  <cot-tool-home tooltip="{{'TOOLS.HOME' | translate}}"></cot-tool-home>
  <cot-tool-navigation-history tooltipNext="{{'TOOLS.NAVIGATION_NEXT' | translate}}"
    tooltipPrev="{{'TOOLS.NAVIGATION_PREVIOUS' | translate}}">
  </cot-tool-navigation-history>
  <cot-tool-window-zoom tooltip="{{'TOOLS.WINDOW_ZOOM' | translate}}"></cot-tool-window-zoom>
  <cot-tool-measure [direction]="'right'"></cot-tool-measure>
  <!-- <cot-tool-area-selector [direction]="'right'"></cot-tool-area-selector> -->
  <cot-identify tooltip="{{'TOOLS.IDENTIFY' | translate}}"></cot-identify>
  <cot-tool-geographic-info tooltip="{{'TOOLS.GEOGRAPHIC_INFO' | translate}}"></cot-tool-geographic-info>
  <cot-tool-user-location tooltip="{{'TOOLS.USER_LOCATION' | translate}}"></cot-tool-user-location>
</the-float-toolbar>
