@import 'variables';

// TODO convertri a SASS

.overview-box {
  text-align: center;
  color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.14);
}

.overview-box .overview-box-header {
  min-height: 24px;
}

.overview-box .overview-box-content {
  padding: 8px 14px 14px;
}

.overview-box .overview-box-content .overview-box-icon {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
  margin-top: -35px;
}

.overview-box .overview-box-content .overview-box-icon i {
  line-height: inherit;
  font-size: 80px;
}

.overview-box .overview-box-content .overview-box-title {
  font-size: 24px;
  padding: 0.5em 0;
}

.overview-box .overview-box-content .overview-box-data {
  padding: 0 25px;

  dl {
    border: 3px double #ccc;
    padding: 0.5em;
  }

  dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: left;
    font-weight: bold;
  }

  dt::after {
    content: ':';
  }

  dd {
    margin: 0 0 0 110px;
    padding: 0;
    text-overflow: ellipsis;
    text-align: right;
  }
}

.overview-box {
  .overview-box-header {
    background-color: #9e9e9e;
  }

  .overview-box-content {
    background-color: #616161;

    .overview-box-icon {
      background-color: #616161;
    }
  }
}


.overview-box.hightlight1 {
  .overview-box-header {

    background-color: #f06292;
  }

  .overview-box-content {
    background-color: #e91e63;

    .overview-box-icon {
      background-color: #e91e63;
    }
  }
}

.overview-box.hightlight2 {
  .overview-box-header {
    background-color: #4dd0e1;
  }

  .overview-box-content {
    background-color: #00bcd4;

    .overview-box-icon {
      background-color: #00bcd4;
    }
  }
}

.ov .overview-box.hightlight3 .overview-box-header {
  background-color: #ffd54f;
}

.overview-box.hightlight3 .overview-box-content {
  background-color: #ffc107;
}

.overview-box.hightlight3 .overview-box-content .overview-box-icon {
  background-color: #ffc107;
}



.overview-box-header__container {
  line-height: $fontBiggerSize;
  font-size: $fontBiggerSize;
  padding-bottom: 0.5em;
}
