.p-grid.login-page,
.p-grid.login-page .p-col {
  width: 100%;
  height: 100%;
  margin: 0;
}

.p-grid.login-page {
  background: url('/assets/images/geospatial.jpg') 0 0 no-repeat;
  background-size: cover;
  background-position: center;
}
